/*common shaired styles*/

body{
    font-family: 'Lato', sans-serif;
}

.btn-primary{
border-radius: 8px;
background: #E55473;
padding: 20px 40px;
font-size: 20px;
font-weight: 700;
color: white;
border: 0;
}

/*nav related styles*/

.div-nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    align-items: center;
    padding-top: 20px;
}


nav ul{
    display: flex;
    list-style: none;
   align-items: center;

    
}

nav li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #474747;
    margin-right: 50px;
    

}

.nav-tittle{
    font-size: 40px;
}
.nav-tittle-colour{
    color: #E55473;
}



/*banner related styles*/
.banner{
    background: rgba(229, 84, 115, 0.10);
    background-repeat: no-repeat;
    padding: 50px 240px 0px 240px;
    display: flex;
}
.profile-pic{
    max-width: 600px;
}
.banner-tittle{
    color: #272727;
font-size: 80px;
font-weight: 800;
padding:0px 97px 0px 0px;
}
.banner-discription{
  
    margin-top: 0px;
    padding-right: 170px;
    text-align: justify;
    padding-bottom: 32px;

    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
font-weight: 400;
}







